@keyframes fade-in {
  from { opacity: 0; }
  to   { opactiy: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opactiy: 0; }
}

@keyframes fade-in-out {
  from { opacity: 1; }
  to   { opactiy: 0; }
}