// Padding & Margins
// ===================================

$max: 24;
$pixels: 4px;

@for $i from 0 through $max {
  .pb-#{$i} { padding-bottom: $i * $pixels; }
  .pr-#{$i} { padding-right: $i * $pixels; }
  .pl-#{$i} { padding-left: $i * $pixels; }
  .pt-#{$i} { padding-top: $i * $pixels; }
  .mb-#{$i} { margin-bottom: $i * $pixels; }
  .mr-#{$i} { margin-right: $i * $pixels; }
  .ml-#{$i} { margin-left: $i * $pixels; }
  .mt-#{$i} { margin-top: $i * $pixels; }
  }

@include Viewport\Min($Viewport\SM) {
  @for $i from 0 through $max {
  .sm\:pb-#{$i} { padding-bottom: $i * $pixels; }
  .sm\:pr-#{$i} { padding-right: $i * $pixels; }
  .sm\:pl-#{$i} { padding-left: $i * $pixels; }
  .sm\:pt-#{$i} { padding-top: $i * $pixels; }
  .sm\:mb-#{$i} { margin-bottom: $i * $pixels; }
  .sm\:mr-#{$i} { margin-right: $i * $pixels; }
  .sm\:ml-#{$i} { margin-left: $i * $pixels; }
  .sm\:mt-#{$i} { margin-top: $i * $pixels; }
  }
}

@include Viewport\Min($Viewport\MD) {
  @for $i from 0 through $max {
  .md\:pb-#{$i} { padding-bottom: $i * $pixels; }
  .md\:pr-#{$i} { padding-right: $i * $pixels; }
  .md\:pl-#{$i} { padding-left: $i * $pixels; }
  .md\:pt-#{$i} { padding-top: $i * $pixels; }
  .md\:mb-#{$i} { margin-bottom: $i * $pixels; }
  .md\:mr-#{$i} { margin-right: $i * $pixels; }
  .md\:ml-#{$i} { margin-left: $i * $pixels; }
  .md\:mt-#{$i} { margin-top: $i * $pixels; }
  }
}

@include Viewport\Min($Viewport\LG) {
  @for $i from 0 through $max {
  .lg\:pb-#{$i} { padding-bottom: $i * $pixels; }
  .lg\:pr-#{$i} { padding-right: $i * $pixels; }
  .lg\:pl-#{$i} { padding-left: $i * $pixels; }
  .lg\:pt-#{$i} { padding-top: $i * $pixels; }
  .lg\:mb-#{$i} { margin-bottom: $i * $pixels; }
  .lg\:mr-#{$i} { margin-right: $i * $pixels; }
  .lg\:ml-#{$i} { margin-left: $i * $pixels; }
  .lg\:mt-#{$i} { margin-top: $i * $pixels; }
  }
}

@include Viewport\Min($Viewport\XL) {
  @for $i from 0 through $max {
  .xl\:pb-#{$i} { padding-bottom: $i * $pixels; }
  .xl\:pr-#{$i} { padding-right: $i * $pixels; }
  .xl\:pl-#{$i} { padding-left: $i * $pixels; }
  .xl\:pt-#{$i} { padding-top: $i * $pixels; }
  .xl\:mb-#{$i} { margin-bottom: $i * $pixels; }
  .xl\:mr-#{$i} { margin-right: $i * $pixels; }
  .xl\:ml-#{$i} { margin-left: $i * $pixels; }
  .xl\:mt-#{$i} { margin-top: $i * $pixels; }
  }
}




.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-row {
  @extend .flex;
  flex-direction: row;
}