.slide-in-out-vertical-enter-active,
.slide-in-out-vertical-leave-active,
.slide-in-out-vertical-enter,
.slide-in-out-vertical-leave-to {
  @include Transition(transform);
}

.slide-in-out-vertical-enter-active,
.slide-in-out-vertical-leave-active {
  transform: translate3d(0, 0, 0);
}

.slide-in-out-vertical-enter,
.slide-in-out-vertical-leave-to {
  transform: translate3d(0, -100%, 0);
}


.fade-in-enter-active,
.fade-out-enter-active,
.fade-in-out-enter-active,
.fade-in-leave-active,
.fade-out-leave-active,
.fade-in-out-leave-active,
.fade-in-enter,
.fade-out-enter,
.fade-in-out-enter,
.fade-in-to,
.fade-out-to,
.fade-in-out-to {
  @include Transition(opacity);
}

.fade-in-enter-active,
.fade-out-enter-active,
.fade-in-out-enter-active,
.fade-in-leave-active,
.fade-out-leave-active,
.fade-in-out-leave-active {
  opacity: 1;
}

.fade-in-enter,
.fade-out-enter,
.fade-in-out-enter,
.fade-in-to,
.fade-out-to,
.fade-in-out-to {
  opacity: 0;
}